/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

*, *::before, *::after {
    box-sizing: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

:root {
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --main-color: #333333;
    --font-main-color: #ffffff;
    --font-secondary-color: #666666;
    --third-color: rgb(255, 78, 80);
    }

.header {
      background-color: var(--main-color);
      background-size: cover;
      background-image: url(../img/desctop.png);
      background-repeat: no-repeat;
      background-position: center;
      padding-top: 20px;
}

.page-header {
  display: flex;
}

.page-registration {
  display: flex;
  justify-content: center;
}

.btn-registration {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 17px;
  color: var(--font-main-color);
  background: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  width: 90px;
  height: 36px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btn-registration:hover,
.btn-registration:focus {
    border: 2px solid var(--font-main-color);
}

.logotype {
  margin-bottom: 38px;
}

.site-logo {
  text-transform: uppercase;
  display: block;
  font-family: var(--main-font);
  color: var(--font-main-color);
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
  width: max-content;
}

.mb120 {
  margin-bottom: 120px;
}

.title {
  font-family: var(--main-font);
  color: var(--font-main-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  width: 300px;
  margin: 0;
  margin-bottom: 22px;
}

.title-description {
  font-family: var(--secondary-font);
  color: var(--font-main-color);
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 30px;
}

.find-link {
  display: block;
  text-align: center;
  font-family: var(--main-font);
  color: var(--font-main-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  border-radius: 20px;
  height: 40px;
  width: 280px;
  margin: 0 auto;
  background-color: var(--third-color);
  margin-bottom: 138px;
}

.page-partners {
  padding-top: 70px;
  padding-bottom: 0;
}

.meet-partners {
  margin-bottom: 17px;
  text-align: center;
  margin: 0;
  margin-bottom: 17px;
  font-family: var(--main-font);
  font-size: 22px;
}

.partners-item {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.partners {
  position: relative;
  width: 121px;
  margin: 0 auto;
}

.partners::before {
  display: block;
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: 75%;
  left: 70%;
  border-radius: 50%;
  border: 4px solid var(--font-main-color);
  background-repeat: no-repeat;
  background-position: center;
}

.tv::before {
  background-image: url(../icons/tv.png);
  background-color: var(--third-color);
}

.water::before {
  background-image: url(../icons/water.png);
  background-color: rgb(255, 165, 7);
}

.coffee::before {
  background-image: url(../icons/coffee.png);
  background-color: rgb(28, 215, 173);
}

.telegram::before {
  background-image: url(../icons/telegram.png);
  background-color: rgb(78, 115, 219);
}

.position-img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.name-partner {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-color);
  font-family: var(--main-font);
  text-align: center;
  margin-bottom: 19px;
}

.partner-description {
  margin: 0;
  padding: 0 30px;
  font-size: 14px;
  line-height: 17px;
  color: var(--font-secondary-color);
  text-align: center;
  font-family: var(--secondary-font);
  margin-bottom: 26px;
}

.link-other {
  display: block;
  text-align: center;
  font-family: var(--main-font);
  color: var(--third-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  border-radius: 20px;
  border: 2px solid var(--third-color);
  height: 40px;
  width: 280px;
  background-color: transparent;
  margin-bottom: 40px;
}

@media (min-width: 768px) {

  .header {
    padding-top: 50px;
  }

  .page-registration {
    justify-content: flex-end;
  }

  .logotype {
    margin: 0;
  }

  .pd-md-40 {
    padding: 0 40px;
  }

  .mb-md-160 {
    margin-bottom: 160px;
  }

  .title {
    font-size: 52px;
    line-height: 62px;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 600px;
  }

  .title-description {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 29px;
  }

  .find-link {
    margin-bottom: 232px;
  }

  .page-partners {
    padding-top: 76px;
  }

  .meet-partners {
    margin-bottom: 34px;
  }

  .list-partners {
    margin-bottom: 58px;
    text-align: center;
  }

  .partners-item {
    margin: 0;
    width: 236px;
  } 

  .partner-description {
    padding: 0;
    margin: 0;
  }
  
  .tv-li {
    order: 1;
  }

  .water-li {
    order: 3;
  }

  .coffee-li{
    order: 2;
  }

  .telegram-li {
    order: 4;
  }

  .partners {
    width: 121px;
    margin: 22px auto;
  }

  .partners::before {
    top: 75%;
    left: 70%;
  }

  .link {
    margin: 0 auto;
    width: 100%;
  }

  .link-other {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }

}

@media (min-width: 1000px) {

  .page-header {
    padding-top: 55px;
  }

  .page-description {
    padding-bottom: 234px;
  }

  .title {
    font-size: 52px;
    line-height: 62px;
    padding: 0 auto;
    margin-bottom: 38px;
  }
  
  .title-description {
    margin-bottom: 38px;
  }

  .page-partners {
    padding-top: 73px;
    margin-bottom: 74px;
  }

  .meet-partners {
    margin-bottom: 38px;
  }

  .list-partners {
    margin-bottom: 57px;
  }

  .partners-item {
    width: 220px;
  }

  .tv-li {
    order: 1;
  }

  .water-li {
    order: 3;
  }

  .coffee-li{
    order: 2;
  }

  .telegram-li {
    order: 4;
  }

  .partners {
    width: 121px;
    margin: 22px auto;
  }

  .partners::before {
    top: 75%;
    left: 70%;
  }

  .link {
    width: 100%;
    text-align: center;
  }
}