html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    .title {
        margin: 0;
    }

body {
    font-family: 'Playfair Display', "Arial", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.page-header {
    margin-bottom: 25px;
}

.site-navigation {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    font-size: 14px;
    color: #626262;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1cb2ea;
}

.site-navigation li {
    display: inline-block;
    margin-right: 123px;
    vertical-align: middle;
    padding: 78px 0;
}
 
.site-navigation li:last-child {
margin-right: 0;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-bottom: 43px;
 }

 .features {
     padding-bottom: 57px;
 }

.features-list-item {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 121px;
    width: 420px;
    display: inline-block;
    margin-right: 60px;
}

.features-list-item:nth-child(2n) {
    margin-right: 0;
}

.features-list-item:nth-last-child(-n +2) {
    margin-bottom: 0;
}

.life {
    text-transform: uppercase;
    color: #b4ad9e;
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    margin-bottom: 30px;
}

.text {
    margin: 0;
}

.features-list-item h3 {
    font-size: 30px;
    font-family: 'Playfair Display', "Arial", serif; 
    color: #626262;
    line-height: 36px;
    margin: 0;
    margin-bottom: 40px;   
}

.button {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    width: 164px;
    height: 60px;
    font-family: "Playfair display", serif;
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
}

.button:hover {
   background-color: #8cb0ea
}
