/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

:root {
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --main-color: #333333;
    --font-main-color: #ffffff;
    --font-secondary-color: #666666;
    --third-color: rgb(255, 78, 80);
    }

.container {
    min-width: 320px;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;  }

.page-header {
    background-color: var(--main-color);
    background-size: cover;
    background-image: url(../img/desctop.png);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-registration {
    display: inline-block;
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 17px;
    color: var(--font-main-color);
    background: transparent;
    border: 2px solid transparent;
    border-radius: 20px;
    width: 90px;
    height: 36px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.btn-registration:hover,
.btn-registration:focus {
    border: 2px solid var(--font-main-color);
}

.site-logo {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-family: var(--main-font);
    color: var(--font-main-color);
    font-size: 20px;
    line-height: 24px;
}

.title {
  font-family: var(--main-font);
  color: var(--font-main-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.title-description {
  font-family: var(--secondary-font);
  color: var(--font-main-color);
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}

.find-link {
  display: block;
  text-align: center;
  font-family: var(--main-font);
  color: var(--font-main-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  border-radius: 20px;
  height: 40px;
  width: 280px;
  margin: 0 auto;
  background-color: var(--third-color);
}

.meet-partners {
  margin: 0;
  font-family: var(--main-font);
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--main-color);
}

.list-partners {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners {
  position: relative;
}

.partners::before {
  display: block;
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: 75%;
  left: 60%;
  border-radius: 50%;
  border: 4px solid var(--font-main-color);
  background-repeat: no-repeat;
  background-position: center;
}

.tv::before {
  background-image: url(../icons/tv.png);
  background-color: var(--third-color);
}

.water::before {
  background-image: url(../icons/water.png);
  background-color: rgb(255, 165, 7);
}

.coffee::before {
  background-image: url(../icons/coffee.png);
  background-color: rgb(28, 215, 173);
}

.telegram::before {
  background-image: url(../icons/telegram.png);
  background-color: rgb(78, 115, 219);
}

.position-img {
  border-radius: 50%;
}

.name-partner {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-color);
  font-family: var(--main-font);
  text-align: center;
  margin-bottom: 19px;
}

.partner-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: var(--font-secondary-color);
  text-align: center;
  font-family: var(--secondary-font);
}

.link-other {
  display: block;
  text-align: center;
  font-family: var(--main-font);
  color: var(--third-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  border-radius: 20px;
  border: 2px solid var(--third-color);
  height: 40px;
  width: 280px;
  margin: 0 auto;
  background-color: transparent;
}

@media (max-width: 767px) {

  .container {
    width: 290px;
  }

  .page-header {
    padding-top: 20px;
    }

  .page-registration {
    text-align: center;
    padding-bottom: 117px;
  }

  .site-logo {
    text-align: center;
    margin-bottom: 35px;
  }

  .page-description {
    padding-bottom: 140px;
  }

  .title {
    margin-bottom: 19px;
  }

  .title-description {
    margin-bottom: 18px;
  }

  .page-partners {
    padding-top: 70px;
  }

  .meet-partners {
    margin-bottom: 17px;
  }

  .partners-item {
    width: 200px;
    margin: 0 auto;
  }

  .partners {
    width: 121px;
    margin: 22px auto;
  }

  .position-img {
    margin: 0 auto;
  }

  .partner-description {
    margin-bottom: 26px;
  }

  .link-other {
    margin-top: 4px;
    margin-bottom: 58px;
  }

}

@media (min-width: 768px) and (max-width: 999px) {

      .container {
        width: 768px;
      }

      .page-header {
        padding-top: 38px;
      }

      .page-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 52px;
        margin-bottom: 158px;
      }

      .site-logo {
        font-size: 20px;
      }

      .page-description {
        padding-bottom: 234px;
      }

      .title {
        margin-bottom: 40px;
        font-size: 52px;
        line-height: 62px;
      }

      .title-description {
        margin-bottom: 36px;
        font-size: 24px;
        line-height: 29px;
      }

      .page-partners {
        padding-top: 76px;
        padding-left: 138px;
        padding-right: 138px;
        padding-bottom: 40px;
      }

      .meet-partners {
        margin-bottom: 34px;
      }

      .list-partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 58px;
        text-align: center;
      }

      .partners-item {
        margin-bottom: 60px;
        width: 236px;
      }

      .partners {
        width: 121px;
        margin: 22px auto;
      }

      .partners::before {
        top: 75%;
        left: 70%;
      }

    }

    @media (min-width: 940px) {
      .container {
          width: 940px;
      }

      .page-header {
        padding-top: 55px;
      }

      .page-nav {
        margin-bottom: 155px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
      }

      .page-description {
        padding-bottom: 234px;
      }

      .title {
        font-size: 52px;
        line-height: 62px;
        padding: 0 200px;
        margin-bottom: 38px;
      }

      .title-description {
        margin-bottom: 38px;
      }

      .page-partners {
        padding-top: 73px;
      }

      .meet-partners {
        margin-bottom: 38px;
      }

      .list-partners {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 57px;
      }

      .partners-item {
        width: 220px;
      }

      .partners {
        width: 121px;
        margin: 22px auto;
      }

      .partners::before {
        top: 75%;
        left: 70%;
      }

  }