html {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    :root {
        --main-font: 'Roboto', sans-serif;
        --secondary-font: 'Montserrat', sans-serif;
        --third-font: 'Kaushan Script', cursive;
        --main-color: rgb(159, 225, 211);
        --secondary-color: rgb(243, 129, 129);
        --font-main-color: #333333;
        --font-secondary-color: #999999;
      }

    body {
        font-family: var(--main-font);
        color: #0f0101;
        font-size: 15px;
        line-height: 24px;
        margin: 0;
    }

.page-header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 132px;
    height: 50px;
}

.site-logo {
    display: inline-block;
    list-style: none;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    text-decoration: none;
    line-height: 36px;
}

.page-nav {

}
.site-navigation {
    justify-content: space-between;
    display: flex;
    min-width: 490px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
}

.site-navigation a {
    font-family: var(--secondary-font);
    display: block;
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: color 200ms linear;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--secondary-color);

}

.site-navigation li {

}

.general-title {
    color: var(--font-main-color);
    text-align: center;
    margin: 0;
    font-family: var(--secondary-font);
}

.work-with {
    margin-bottom: 108px;

}

.span-title {
    font-family: var(--third-font);
    font-size: 24px;
    line-height: 29px;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    display: block;
    margin-top: 17px;
}

.list-item {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 10px;
}

.services-item {
    width: 380px;
    margin-bottom: 94px;
}

.title-service {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    margin-bottom: 17px;
    font-weight: 300;
}

.service-description {
    color: var(--font-secondary-color);
    margin: 0;
}

.our-team {
    margin-bottom: 86px;
}

.team-description {
    color: var(--font-secondary-color);  
    margin: 0 auto;
    width: 980px;
    text-align: center;
    margin-bottom: 85px;
}

.team-list {
    list-style: none;
    display: flex;
    margin-bottom: 84px;
}

.team-members {
    margin-right: 30px;
}

.team-members:last-child {
    margin-right: 0;
}

.member-photo {
    margin-bottom: 30px;
}

.member-name {
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.description-photo {
    text-align: center;
}

.member-name {
    margin-bottom: 18px;
    display: block;
}

.member-position {
    display: inline-block;
    margin: 0;
    font-weight: 200;
    font-family: var(--font-secondary-color);
    font-style: italic;
}

.copyright {
    height: 62px;
}