html {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    :root {
        --main-font: 'Roboto', sans-serif;
        --secondary-font: 'Montserrat', sans-serif;
        --third-font: 'Kaushan Script', cursive;
        --main-color: rgb(159, 225, 211);
        --secondary-color: rgb(243, 129, 129);
        --font-main-color: #333333;
        --font-secondary-color: #999999;
      }

    body {
        font-family: var(--main-font);
        color: #0f0101;
        font-size: 15px;
        line-height: 24px;
        margin: 0;
    }

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
    padding-bottom: 132px;
}

.site-logo {
    display: inline-block;
    list-style: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 30px;
    color: var(--main-color);
    text-decoration: none;
    line-height: 36px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    min-width: 490px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
}

.site-navigation a {
    position: relative;
    font-family: var(--secondary-font);
    display: block;
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    transition: color 200ms linear;
}

.site-navigation a::after {
    position: absolute;
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background: var(--secondary-color);
    margin-top: 10px;
    opacity: 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--secondary-color);
}

.site-navigation a:hover::after,
.site-navigation a:focus::after {
    opacity: 1;
    transition: width 200ms linear;
}

.general-title {
    color: var(--font-main-color);
    text-align: center;
    margin: 0;
    font-family: var(--secondary-font);
}

.work-with {
    margin-bottom: 66px;
}

.span-title {
    font-family: var(--third-font);
    font-size: 24px;
    line-height: 29px;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    display: block;
    margin-top: 17px;
}

.title::after {
    display: block;
    content: "";
    margin: auto;
    margin-bottom: 0;
    margin-top: 40px;
    height: 3px;
    width: 60px;
    background: var(--secondary-color);
}

.list-item {
    display: flex;
    justify-content: space-around;
    flex-basis: 380px;
    flex-grow: 0;
    flex-shrink: 0;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 10px;
}

.services-item {
    position: relative;
    width: 380px;
    margin-bottom: 94px;
}

.general-services::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    height: 32px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.photography::before {
    background-image: url(../icons/alarm.png);
}

.web::before {
    background-image: url(../icons/line-graph.png);
}

.creativity::before {
    background-image: url(../icons/computer.png);
}

.seo::before {
    background-image: url(../icons/book.png);
}

.css-html::before {
    background-image: url(../icons/home.png);
}

.digital::before {
    background-image: url(../icons/image.png);
}

.general-services {
    padding-left: 80px;
}

.title-service {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    margin-bottom: 17px;
    font-weight: 300;
}

.service-description {
    color: var(--font-secondary-color);
    margin: 0;
}

.team-section {
    margin-bottom: 84px;
}

.our-team {
    margin-bottom: 50px;
}

.team-description {
    color: var(--font-secondary-color);  
    margin: 0 auto;
    width: 980px;
    text-align: center;
    margin-bottom: 85px;
}

.team-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.team-members {
    width: 380px;
}

.team-members:last-child {
    margin-right: 0;
}

.img-wrap {
    position: relative;
    transition: all 200ms linear 0s;
}

.team-members:hover
.img-wrap {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px var(--main-color);
}

.social-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms linear;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
}

.social-overlay:hover {
    opacity: 1;
    transform: translate(10, 10);
}

.facebook {
    background-image: url(../icons-social/facebook.png);
}

.twitter {
    background-image: url(../icons-social/twitter.png);
}

.pinterest {
    background-image: url(../icons-social/pinterest.png);
}

.instagram {
    background-image: url(../icons-social/instagram.png);
}

.overlay-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrap:hover
.overlay {
    opacity: 1;
}

.link-icon {
    display: block;
    height: 56px;
    width: 56px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 200ms linear;
    border: 1px solid var(--secondary-color);
    margin: 0;
}

.link-icon:last-child {
    border-right: none;
}

.link-icon:hover {
    background-color: var(--main-color);
}

.member-photo {
    margin-bottom: 30px;
}

.member-name {
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    text-transform: uppercase;
}

.description-photo {
    text-align: center;
}

.member-name {
    margin-bottom: 18px;
    display: block;
}

.member-position {
    display: inline-block;
    margin: 0;
    font-weight: 200;
    color: var(--font-secondary-color);
    font-style: italic;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    font-family: var(--secondary-font);
    color: var(--font-main-color);
    border-top: 1px solid #e5e5e5;
}

.link-copyright {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    line-height: 17px;
    color: var(--secondary-color);
}

.subscribe-form {
    display: flex;
}

.email-line {
    width: 230px;
    height: 40px;
    padding-left: 12px;
    border: 1px solid rgb(231, 231, 231);

}

.email-line::placeholder {
    font-family: var(--main-font);
    color: #cccccc;
    font-style: italic;
    font-weight: 300;
}

.button-subscribe {
    background-color: var(--main-color);
    font-family: var(--secondary-font);
    height: 40px;
    width: 150px;
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    transition: background-color 200ms linear;
    margin-left: -2px;
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: var(--secondary-color);
    cursor: pointer;
}