html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 1110px;
    margin: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        color: #0f0101;
        font-size: 14px;
        line-height: 26px;
        margin: 0;
    }

    .clearfix::after {
        display: table;
        content: "";
        clear: both;
    }

    .site-logo {
    
    }

    .page-header container {
    
    }

    .page-nav {
        float: right;
        margin-top: 8px;
    }

    .site-navigation {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .site-navigation a {
        display: block;
        color: #0f0101;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 11px;
    }

    .site-navigation a:hover,
    .site-navigation a:focus {
        color: #1abc9c;
    }

    .site-navigation li {
        float: left;
        margin-right: 38px;
    }

    .featured-list {
        margin: 0;

    }

    .featured-list li {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 255px;
        height: 280px;
    }

    .menu {
        color: #515151;
        font-size: 48px;
        line-height: 32px;
    }

    .all-news {
        list-style: none;
    }

    .latest-news {
        color: #515151;
        font-size: 48px;
        line-height: 32px;
    }

    .title-news {
        font-size: 18px;
        line-height: 26px;
        color: #555252;
    }

    .news {
        font-size: 14px;
        line-height: 26px;
    }

    .product {
        padding: 0 auto;
        margin-right: 30px;
        margin: 0;
    }

    .title-list {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        background-color: rgb(50, 50, 50);
        margin: 0 auto;
        padding: 0;
        width: 200px;
        height: 40px;
        border-width: 1px;
        border-color: rgb(50, 50, 50);
        border-style: solid;
        display: block;
        float: left;

    }

    .price {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        background-color: rgb(140, 140, 140);
        margin: 0;
        padding: 0;
        height: 40px;
        width: 54px;
        float: left;
    }

    .button {
        display: block;
        margin: 0;
        font-size: 16px;
        line-height: 26px;
        width: 160px;
        height: 51px;
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        background-color: #1abc9c;
        border-style: solid;
        border-color: #1abc9c;
        border-width: 1px;
    }