    $main-font: 'Roboto', sans-serif;
    $secondary-font: 'Montserrat', sans-serif;
    $third-font: 'Kaushan Script', cursive;
    $main-color: rgb(159, 225, 211);
    $secondary-color: rgb(243, 129, 129);
    $font-main-color: #333333;
    $font-secondary-color: #999999;
    $white-color: #fff;